.slidecontainer {
  width: 100%;
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 20px;
  width: 5%;
  height: 27px;
  background-color: black;
  outline: none;
  -webkit-transition: .2s;
  border: 1px solid black;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: blue;
  cursor: pointer;
  border: 1px solid black;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: blue;
  cursor: pointer;
  border: 1px solid black;
}
